
<div class="container-fluid">
  <app-timer></app-timer>
</div>

<div class="container-fluid" *ngIf="!this.generalService.isProgramTerminated">
  <div class="row border">
    <div class="col-3 border">
      <app-nuevo></app-nuevo>
    </div>
    <div class="col-3 border">
      <app-listos></app-listos>
    </div>
    <div class="col-6 border">
      <app-ejecucion></app-ejecucion>
    </div>
  </div>
  <div class="row border">
    <div class="col-3 border">
      <app-instrucciones></app-instrucciones>
    </div>
    <div class="col-3 border">
      <app-bloqueado></app-bloqueado>
    </div>
    <div class="col-6 border">
      <app-terminado-no-details></app-terminado-no-details>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="this.generalService.isProgramTerminated">
  <app-terminado></app-terminado>

</div>
