<div class="container-fluid">

</div>
<h5>Procesos Listos</h5>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">T.Maximo</th>
    <th scope="col">T.T.Espera</th>
    <th scope="col">T.T.Ejecucion</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let process of this.generalService.processResult.procesosEspera">
    <td>{{ process.id }}</td>
    <td>{{ timeToString(process.tiempoMaxEstimado) }}</td>
    <td>{{ timeToString(process.tiempoEspera) }}</td>
    <td>{{ timeToString(process.tiempoTranscurrido) }}</td>
  </tr>
  </tbody>
</table>
