<form [formGroup]="formGroup">
  <div class="row pt-5">
    <div class="col-3 d-flex align-items-center  justify-content-end">
      <span class="h4">Número de trabajos</span>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100 pt-3">
        <input matInput
               type="number"
               formControlName="processQuantityFormControl">
      </mat-form-field>
    </div>
    <div class="col-3">
      <button (click)="generateJobs()" class="btn btn-outline-dark" type="button" >Generar</button>
    </div>
  </div>
</form>

