<div class="container-fluid">
  <div class="mx-auto">
    <span class="h4">Proceso en Ejecución</span>
    <p class="h5 border-bottom">
      Número de programa: {{ this.generalService.processResult.procesoEnEjecucion.id }}
    </p>
    <p class="h6 border-bottom">
      Operación: {{ this.generalService.processResult.procesoEnEjecucion.operation }}
    </p>
    <p class="h6 border-bottom">
      Tiempo máximo estimado: {{ timeToString(this.generalService.processResult.procesoEnEjecucion.tiempoMaxEstimado) }}
    </p>
    <p class="h6 border-bottom">
      Tiempo ejecución: {{ timeToString(this.generalService.processResult.procesoEnEjecucion.tiempoTranscurrido) }}
    </p>
    <p class="h6 border-bottom">
      Tiempo restante por ejecutar: {{ timeToString(this.generalService.processResult.procesoEnEjecucion.tiempoRestantePorEjecutar) }}
    </p>
    <p class="h6 ">
      <span>Quantum: {{timeToString(this.generalService.processResult.quantumInProgress)}} </span>
    </p>
  </div>
</div>
