<h5>Procesos Terminados</h5>

<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Operación</th>
    <th scope="col">Resultado</th>

    <th scope="col">Tiempo de Llegada</th>
    <th scope="col">Tiempo de Finalización</th>
    <th scope="col">Tiempo de Retorno</th>
    <th scope="col">Tiempo de Respuesta</th>
    <th scope="col">Tiempo de Espera</th>
    <th scope="col">Tiempo de Servicio</th>
    <th scope="col">Tiempo maximo Estimado</th>
    <th scope="col">Tiempo transcurrido en bloqueados</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let process of this.generalService.processResult.procesoTerminado">
    <td>{{ process.id }}</td>
    <td>{{ process.operation }}</td>
    <td>{{ process.result }}</td>
    <!--Tiempos-->
    <td>{{ timeToString(process.tiempoLlegada) }}</td>
    <td>{{ timeToString(process.tiempoFinalizacion) }}</td>
    <td>{{ timeToString(process.tiempoRetorno) }}</td>
    <td>{{ timeToString(process.tiempoRespuesta) }}</td>
    <td>{{ timeToString(process.tiempoEspera) }}</td>
    <td>{{ timeToString(process.tiempoServicio) }}</td>

    <td>{{ timeToString(process.tiempoMaxEstimado) }}</td>
    <td>{{ timeToString(process.tiempoBloqueado) }}</td>
  </tr>
  </tbody>
</table>
<hr>
<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Operación</th>
      <th scope="col">Resultado</th>

      <th scope="col">Tiempo de Llegada</th>
      <th scope="col">Tiempo de Finalización</th>
      <th scope="col">Tiempo de Retorno</th>
      <th scope="col">Tiempo de Respuesta</th>
      <th scope="col">Tiempo de Espera</th>
      <th scope="col">Tiempo de Servicio</th>
      <th scope="col">Tiempo maximo Estimado</th>
      <th scope="col">Tiempo transcurrido en bloqueados</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <!--Tiempos-->
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{calculateTiempoServicio()}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

