<div class="container-fluid">
<p>Segundos para liberar: {{generalService.processResult.procesosBloqueados.tiempoParaSalirNuevo}}</p>
</div>
<h5>Procesos Bloqueados</h5>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">T.Trans.Bloqueado</th>
    <th scope="col">Res. Salir</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let process of generalService.processResult.procesosBloqueados.procesosBloqueados">
    <td>{{ process.id }}</td>
    <td>{{ timeToString(process.tiempoBloqueado)}}</td>
    <td>{{ timeToString(process.tiempoBloqueadoParaSalir)}}</td>
  </tr>
  </tbody>
</table>
